@tailwind base;
@tailwind components;
@tailwind utilities;

.reveal-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.reveal-on-scroll.active {
    opacity: 1;
    transform: translateY(0);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #00A859; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #008040; 
}